* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(https://images.pexels.com/photos/733745/pexels-photo-733745.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  place-items: center;
  background-size: auto;
  background-position: center;
  height: 100vh;
}

#form {
  background: rgba(213, 13, 13, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 80px;
  text-align: center;
  text-decoration: solid;
  border-style: solid;
  border-width: thick;
  margin: 0 auto;
  margin-top: 60px;
  margin-right: 650px;
  margin-left: 650px;
}

#Heading {
  color: white;
}

.boxes {
  width: 255px;
  height: 30px;
  opacity: 0.8;
}

textarea {
  opacity: 0.8;
}

.button {
  width: 60px;
  height: 40px;
  opacity: 0.8;
}

/* RESET BROWSER STYLES */

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

li {
  display: inline-block;
}

ul {
  background-color: black;
  padding: 20px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 10;
}

a {
  padding: 20px;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

#h1 {
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
}

#h3 {
  color: white;
}

#photo {
  height: 400px;
  width: 400px;
  margin: 0 auto;
  margin-top: 150px;
  /* margin-left: 700px; */
  display: flex;
  border-radius: 50%;
  box-shadow: blacks;
}

.paragraph {
  color: white;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  margin-top: 150px;
}

table {
  margin-left: 8%;
  color: gold;
  font-size: 300%;
  background-color: rgba(128, 128, 128, 0.5);
}
